[Unit]
Description=HOMEINFO Integrated Services
PartOf=wsgi-services.target

[Service]
User=his
Group=his
ExecStart=/usr/local/bin/hisd

[Install]
WantedBy=wsgi-services.target
